/*----------  Genral CSS  ----------*/
* {
    padding: 0;
    margin: 0;
    border: none;
    vertical-align: baseline;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    font-size: 1rem;
    scroll-behavior: auto !important;
  }
  
  body {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    background-color: #fff;
    position: relative;
  }
  
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  em,
  i {
    font-style: italic;
  }
  
  u {
    text-decoration: underline;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  b,
  strong {
    font-weight: 700 !important;
  }
  
  a {
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
  }
  
  a:hover {
    color: #B6C34D;
    text-decoration: none;
    outline: none !important;
  }
  
  a:focus {
    text-decoration: none;
    outline: none !important;
  }
  
  *:focus {
    outline: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  /*----------  Common CSS  ----------*/
  .wrapper {
    display: block;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
  }
  
  .body-fixed {
    overflow: hidden;
  }
  
  .container {
    max-width: 1356px;
    padding: 0 30px;
  }
  
  .common-sec {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .sec-head {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  
  :is(h1, h2, h3, h4, h5, h6),
  .sec-title,
  .sec-sub-title {
    font-family: "Montserrat", sans-serif;
  }
  
  .sec-title {
    margin: 0;
    display: block;
    color: #2D4312;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  