/*----------  Genral CSS  ----------*/
* {
    padding: 0;
    margin: 0;
    border: none;
    vertical-align: baseline;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    scroll-behavior: auto !important;
}

body {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    background-color: #fff;
    position: relative;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

em,
i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

b,
strong {
    font-weight: 700 !important;
}

a {
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}

a:hover {
    color: #B6C34D;
    text-decoration: none;
    outline: none !important;
}

a:focus {
    text-decoration: none;
    outline: none !important;
}

*:focus {
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/*----------  Common CSS  ----------*/
.wrapper {
    display: block;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

.body-fixed {
    overflow: hidden;
}

.container {
    max-width: 1356px;
    padding: 0 30px;
}

.common-sec {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-head {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

:is(h1, h2, h3, h4, h5, h6),
.sec-title,
.sec-sub-title {
    font-family: "Montserrat", sans-serif;
}

.sec-title {
    margin: 0;
    display: block;
    color: #2D4312;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
}

/* button */

.btn {
    border-radius: 30px 0 30px 30px;
    padding: 11px 30px;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid transparent;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .4s ease-in-out;
}

.btn::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1.25rem;
    background-color: #fff;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 5%;
    margin: auto;
    transform: translate(-50%, 30%);
    z-index: -1;
    transition: all .4s ease-in-out;
}

.btn:hover::before {
    width: 140%;
}

.btn.btn-green {
    background-color: #2D4312;
    color: #fff;
}

.btn.btn-green:hover {
    color: #B6C34D;
    background-color: #B6C34D;
}

.btn.btn-outline {
    background-color: transparent;
    color: #2D4312;
    border-color: #2D4312;
}

.btn.btn-outline:hover {
    background-color: #2D4312;
    color: #fff;
}

.btn.btn.btn-outline::before {
    background-color: #2D4312;
}

.btn.btn-outline-green {
    background-color: transparent;
    border-color: #B6C34D;
    color: #B6C34D;
}

.btn.btn-outline-green:hover {
    color: #000;
    background-color: #B6C34D;
}

.btn.btn-outline-green::before {
    background-color: #B6C34D;
}

.btn~.btn {
    margin-left: 16px;
}

/* button */

/* header */

.header-main {
    background-color: #fff;
    position: relative;
    z-index: 9;
    padding: 18px 0;
}

.header-main .container {
    max-width: 1478px;
}

.site-logo img {
    max-width: 120px;
    width: 100%
}

.sidebar-overlay {
    visibility: hidden;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #000;
    z-index: 998
}

.navigation-bar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}

.mb-menu-logo {
    display: none
}

.nav-menu-main ul {
    display: flex;
    align-items: center
}

.navbar-main .nav-menu-main ul li {
    display: flex
}

.navbar-main .nav-menu-main ul li a {
    color: #2D4312;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    text-align: left;
    padding: 15px 24px;
    transition: all .4s ease-in-out;
}

.navbar-main .nav-menu-main ul li a:hover,
.navbar-main .nav-menu-main ul li.active a {
    color: #B6C34D;
    font-weight: 700;
}

.header-main.has-sticky {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    background: #fff;
    backdrop-filter: blur(50px);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 999
}

.header-main.has-sticky .site-logo img {
    max-width: 90px;
}

.menu-icon {
    display: none;
    width: 32px;
    height: 32px;
    position: relative;
    padding: 0;
    margin-top: 0;
    margin-left: 15px;
    color: #333
}

.menu-icon span {
    display: block;
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background: #333;
    margin: auto
}

.menu-icon span:before {
    content: "";
    width: 25px;
    position: absolute;
    top: -8px;
    right: 0;
    height: 2px;
    background: currentColor
}

.menu-icon span:after {
    content: "";
    width: 25px;
    position: absolute;
    bottom: -8px;
    right: 0;
    height: 2px;
    background: currentColor
}

.body-fixed {
    overflow: hidden
}

.header-main .head-btn {
    display: inline-block;
    vertical-align: middle;
}

/* header */

.hero-banner-sec {
    background: linear-gradient(180deg, #F6F9E0 0%, #FFFFFF 100%);
    width: 100%;
    padding: 72px 0 87px;
}

.hero-banner-wrap {
    max-width: 2000px;
    margin: auto;
}

.hero-banner-img {
    position: relative;
    max-width: 917px;
    margin-left: auto;
}

.hero-banner-img img {
    border-radius: 55px 0px 55px 55px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.hero-banner-img::after {
    content: '';
    position: absolute;
    left: -28px;
    bottom: -28px;
    width: 100%;
    height: 100%;
    border: 4.44444px solid #B6C34D;
    border-radius: 55px 0px 55px 55px;
    z-index: 1;
}

.hero-banner-con {
    padding-left: 248px;
    margin-top: 120px;
}

.hero-banner-label {
    background-color: #B6C34D;
    border-radius: 28px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    width: fit-content;
    padding: 12px 18px;
    margin-bottom: 20px;
}

.hero-banner-con .banner-title {
    color: #2D4312;
    font-size: 42px;
    font-weight: 600;
    line-height: 1;
    display: block;
}

.hero-banner-con .banner-title span {
    font-size: 110px;
    font-weight: 800;
    display: block;
}

.hero-banner-con .cms-con {
    max-width: 540px;
}

.hero-banner-btn {
    margin-top: 30px;
}

.hero-banner-btn .btn.btn-outline {
    min-width: 160px;
}

.hero-banner-con .cms-con p {
    font-weight: 500;
}

.accreditation-logo-wrap {
    margin-top: 52px;
    max-width: 540px;
}

.accreditation-logo-wrap .accreditation-logo-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    color: #2D4312;
    margin-bottom: 20px;
}

.accreditation-logo-wrap ul {
    display: flex;
    align-items: center;
}

.accreditation-logo-wrap ul li {
    width: 16.66%;
}

.accreditation-logo-wrap ul li img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.home-about-us-wrap {
    max-width: 1260px;
    margin: auto;
}

.home-about-us-wrap .row {
    --bs-gutter-x: 70px;
}

.home-about-us-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-about-us-img img {
    border-radius: 50px 0px 50px 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.home-about-us-img::after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: 100%;
    height: 100%;
    border: 4px solid #B6C34D;
    border-radius: 50px 0px 50px 50px;
    z-index: 1;
}

.home-about-us-con .sec-head .sec-title span {
    display: block;
    font-weight: 300;
}

.home-about-us-con .cms-con ul li {
    font-size: 18px;
    font-weight: 600;
}

.home-about-us-btn {
    margin-top: 50px;
}

.home-about-us-sec .container {
    position: relative;
}

.home-about-us-sec .sqaure-animation {
    position: absolute;
    z-index: 2;
    bottom: -200px;
    left: -200px;
    animation: sqaure 4s infinite;
}

@keyframes sqaure {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.what-we-offer-sec {
    background-color: rgba(182, 195, 77, 10%);
}

.what-we-offer-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.what-we-offer-img img {
    border-radius: 50px 0 50px 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cricle-animation {
    position: absolute;
    top: -72px;
    right: -75px;
    z-index: -1;
    width: 240px;
    height: 240px;
    background-color: rgba(182, 195, 77, 20%);
    border-radius: 100%;
}

.bottom-cricle-animation {
    position: absolute;
    bottom: -96px;
    left: -96px;
    z-index: -1;
    width: 330px;
    height: 330px;
    background-color: rgba(182, 195, 77, 20%);
    border-radius: 100%;
}