/*----------  Genral CSS  ----------*/
* {
    padding: 0;
    margin: 0;
    border: none;
    vertical-align: baseline;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    scroll-behavior: auto !important;
}

body {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    background-color: #fff;
    position: relative;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

em,
i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

b,
strong {
    font-weight: 700 !important;
}

a {
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}

a:hover {
    color: #B6C34D;
    text-decoration: none;
    outline: none !important;
}

a:focus {
    text-decoration: none;
    outline: none !important;
}

*:focus {
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/*----------  Common CSS  ----------*/
.wrapper {
    display: block;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

.body-fixed {
    overflow: hidden;
}

.container {
    max-width: 1356px;
    padding: 0 30px;
}

.common-sec {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-head {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

:is(h1, h2, h3, h4, h5, h6),
.sec-title,
.sec-sub-title {
    font-family: "Montserrat", sans-serif;
}

.sec-title {
    margin: 0;
    display: block;
    color: #2D4312;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
}

/* button */

.btn {
    border-radius: 30px 0 30px 30px;
    padding: 11px 30px;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid transparent;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .4s ease-in-out;
}

.btn::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1.25rem;
    background-color: #fff;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 5%;
    margin: auto;
    transform: translate(-50%, 30%);
    z-index: -1;
    transition: all .4s ease-in-out;
}

.btn:hover::before {
    width: 140%;
}

.btn.btn-green {
    background-color: #2D4312;
    color: #fff;
}

.btn.btn-green:hover {
    color: #B6C34D;
    background-color: #B6C34D;
}

.btn.btn-outline {
    background-color: transparent;
    color: #2D4312;
    border-color: #2D4312;
}

.btn.btn-outline:hover {
    background-color: #2D4312;
    color: #fff;
}

.btn.btn.btn-outline::before {
    background-color: #2D4312;
}

.btn.btn-outline-green {
    background-color: transparent;
    border-color: #B6C34D;
    color: #B6C34D;
}

.btn.btn-outline-green:hover {
    color: #000;
    background-color: #B6C34D;
}

.btn.btn-outline-green::before {
    background-color: #B6C34D;
}

.btn~.btn {
    margin-left: 16px;
}

/* button */

/* header */

.header-main {
    background-color: #fff;
    position: relative;
    z-index: 9;
    padding: 18px 0;
}

.header-main .container {
    max-width: 1478px;
}

.site-logo img {
    max-width: 120px;
    width: 100%
}

.sidebar-overlay {
    visibility: hidden;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #000;
    z-index: 998
}

.navigation-bar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}

.mb-menu-logo {
    display: none
}

.nav-menu-main ul {
    display: flex;
    align-items: center
}

.navbar-main .nav-menu-main ul li {
    display: flex
}

.navbar-main .nav-menu-main ul li a {
    color: #2D4312;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    text-align: left;
    padding: 15px 24px;
    transition: all .4s ease-in-out;
}

.navbar-main .nav-menu-main ul li a:hover,
.navbar-main .nav-menu-main ul li.active a {
    color: #B6C34D;
    font-weight: 700;
}

.header-main.has-sticky {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    background: #fff;
    backdrop-filter: blur(50px);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 999
}

.header-main.has-sticky .site-logo img {
    max-width: 90px;
}

.menu-icon {
    display: none;
    width: 32px;
    height: 32px;
    position: relative;
    padding: 0;
    margin-top: 0;
    margin-left: 15px;
    color: #333
}

.menu-icon span {
    display: block;
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background: #333;
    margin: auto
}

.menu-icon span:before {
    content: "";
    width: 25px;
    position: absolute;
    top: -8px;
    right: 0;
    height: 2px;
    background: currentColor
}

.menu-icon span:after {
    content: "";
    width: 25px;
    position: absolute;
    bottom: -8px;
    right: 0;
    height: 2px;
    background: currentColor
}

.body-fixed {
    overflow: hidden
}

.header-main .head-btn {
    display: inline-block;
    vertical-align: middle;
}

/* header */

.hero-banner-sec {
    background: linear-gradient(180deg, #F6F9E0 0%, #FFFFFF 100%);
    width: 100%;
    padding: 72px 0 87px;
}

.hero-banner-wrap {
    max-width: 2000px;
    margin: auto;
}

.hero-banner-img {
    position: relative;
    max-width: 917px;
    margin-left: auto;
}

.hero-banner-img img {
    border-radius: 55px 0px 55px 55px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.hero-banner-img::after {
    content: '';
    position: absolute;
    left: -28px;
    bottom: -28px;
    width: 100%;
    height: 100%;
    border: 4.44444px solid #B6C34D;
    border-radius: 55px 0px 55px 55px;
    z-index: 1;
}

.hero-banner-con {
    padding-left: 248px;
    margin-top: 120px;
}

.hero-banner-label {
    background-color: #B6C34D;
    border-radius: 28px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    width: fit-content;
    padding: 12px 18px;
    margin-bottom: 20px;
}

.hero-banner-con .banner-title {
    color: #2D4312;
    font-size: 42px;
    font-weight: 600;
    line-height: 1;
    display: block;
}

.hero-banner-con .banner-title span {
    font-size: 110px;
    font-weight: 800;
    display: block;
}

.hero-banner-con .cms-con {
    max-width: 540px;
}

.hero-banner-btn {
    margin-top: 30px;
}

.hero-banner-btn .btn.btn-outline {
    min-width: 160px;
}

.hero-banner-con .cms-con p {
    font-weight: 500;
}

.accreditation-logo-wrap {
    margin-top: 52px;
    max-width: 540px;
}

.accreditation-logo-wrap .accreditation-logo-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    color: #2D4312;
    margin-bottom: 20px;
}

.accreditation-logo-wrap ul {
    display: flex;
    align-items: center;
}

.accreditation-logo-wrap ul li {
    width: 16.66%;
}

.accreditation-logo-wrap ul li img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.home-about-us-wrap {
    max-width: 1260px;
    margin: auto;
}

.home-about-us-wrap .row {
    --bs-gutter-x: 70px;
}

.home-about-us-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-about-us-img img {
    border-radius: 50px 0px 50px 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.home-about-us-img::after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: 100%;
    height: 100%;
    border: 4px solid #B6C34D;
    border-radius: 50px 0px 50px 50px;
    z-index: 1;
}

.home-about-us-con .sec-head .sec-title span {
    display: block;
    font-weight: 300;
}

.home-about-us-con .cms-con ul li {
    font-size: 18px;
    font-weight: 600;
}

.home-about-us-btn {
    margin-top: 50px;
}

.home-about-us-sec .container {
    position: relative;
}

.home-about-us-sec .sqaure-animation {
    position: absolute;
    z-index: 2;
    bottom: -200px;
    left: -200px;
    animation: sqaure 4s infinite;
}

@keyframes sqaure {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.what-we-offer-sec {
    background-color: rgba(182, 195, 77, 10%);
}

.what-we-offer-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.what-we-offer-img img {
    border-radius: 50px 0 50px 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cricle-animation {
    position: absolute;
    top: -72px;
    right: -75px;
    z-index: -1;
    width: 240px;
    height: 240px;
    background-color: rgba(182, 195, 77, 20%);
    border-radius: 100%;
}

.bottom-cricle-animation {
    position: absolute;
    bottom: -96px;
    left: -96px;
    z-index: -1;
    width: 330px;
    height: 330px;
    background-color: rgba(182, 195, 77, 20%);
    border-radius: 100%;
}

.what-we-offer-con {
    max-width: 425px;
}

.what-we-offer-con .sec-head,
.what-we-offer-con .cms-con {
    padding-left: 25px;
}

.what-we-offer-list-item {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 30px 0 30px 30px;
    padding: 10px 50px 10px 25px;
    transition: all .4s ease-in-out;
    margin-bottom: 16px;
}

.what-we-offer-list-item:last-child {
    margin-bottom: 0;
}

.what-we-offer-list-item:hover {
    background-color: #2D4312;
}

.what-we-offer-list-item .img-box {
    width: 42px;
    height: 42px;
    flex: 0 0 42px;
    margin-right: 12px;
}

.what-we-offer-list-item .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .2s ease-in-out;
}

.what-we-offer-list-item:hover .img-box img {
    filter: brightness(100);
}

.what-we-offer-list-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
    margin-bottom: 0;
    transition: all .4s ease-in-out;
}

.what-we-offer-list-item:hover .what-we-offer-list-title {
    color: #fff;
}

.manufacturing-facility-img img {
    border-radius: 0 50px 50px 50px;
}

.manufacturing-facility-img::after {
    right: -20px;
    left: inherit;
    border-radius: 0 50px 50px 50px;
}

.manufacturing-facility-con .sec-head {
    max-width: 425px;
}

.manufacturing-facility-con .cms-con p {
    max-width: 425px;
}

.footer-main .footer-main-box{
    background-color: #F1F1F1;
    padding: 70px 0;
    position: relative;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-logo img {
    max-width: 190px;
}

.social-media {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.social-media a {
    width: 30px;
    height: 30px;
    background-color: #2D4312;
    border-radius: 5px 0 5px 5px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    padding: 6px;
    transition: all .4s ease-in-out;
}

.social-media a img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.social-media a.facebook:hover {
    background-color: #3b5998;
}

.social-media a.twitter:hover {
    background-color: #1DA1F2;
}

.social-media a.instagram:hover {
    background-color: #c13584;
}

.social-media a.linkedin:hover {
    background-color: #0072b1;
}

.social-media a.youtube:hover {
    background-color: #FF0000;
}

.foot-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #2D4312;
    display: block;
    margin-bottom: 32px;
}

.footer-con ul{
    list-style: none;
    font-size: 0;
}

.footer-con ul li{
    margin-bottom: 24px;
}

.footer-con ul li:last-child{
    margin-bottom: 0;
}

.footer-con ul li a{
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    transition: all .4s ease-in-out;
}

.footer-con ul li a:hover{
    color: #B6C34D;
    font-weight: 700;
}

.foot-contact{
    display: flex;
    align-items: start;
}

.foot-contact .img-box{
    width: 25px;
    height: 25px;
    flex: 0 0 25px;
    margin-right: 15px;
}

.foot-contact .img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.foot-contact .cms-con p,.foot-contact .cms-con a{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.footer-con{
    margin-bottom: 20px;
}

.footer-con:last-child{
    margin-bottom: 0;
}

.copy-right{
    padding: 35px 0;
}

.copy-right .cms-con p,.copy-right .cms-con a{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    transition: all .4s ease-in-out;
}

.copy-right .cms-con a:hover{
    color: #B6C34D;
}

.footer-main{
    position: relative;
}

.footer-main .sqaure-animation{
    position: absolute;
    top: -23%;
    left: 0;
    animation: sqaure 4s infinite;
}

.border-sqaure-animation{
    position: absolute;
    top: -50%;
    right: -60px;
    animation: sqaure 4s infinite;
}

.latest-blog-sec .sec-title {
    text-align: center;
}

.latest-blog-sec .sec-head {
    margin-bottom: 10px;
}

.latest-blog-sec .cms-con p {
    text-align: center;
    margin: 0;
}

.latest-blog-wrapper {
    margin: 0 -12px;
}

.latest-blog-wrapper .slick-slide {
    margin: 0 12px;
}

.latest-blog-main {
    margin-top: 54px;
}

.latest-blog-box {
    background: #F5F5F5;
    display: block;
}

.latest-blog-box .blog-con {
    padding: 29px 21px 24px 17px;
}

.latest-blog-box .blog-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.7;
    color: #2D4312;
    margin-bottom: 25px;
    transition: all .4s ease-in-out;
}

.latest-blog-box:hover .blog-title{
    color: #B6C34D;
}

.latest-blog-box .blog-des {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

.latest-blog-box .blog-con-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
}

.latest-blog-box .blog-con-footer .blog-date {
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    color: #B6C34D;
    margin: 0;
}

.latest-blog-box:hover .arrow-icon img{
    filter: brightness(0) saturate(100%) invert(21%) sepia(45%) saturate(644%) hue-rotate(45deg) brightness(93%) contrast(95%);
    transition: all .4s ease-in-out;
}

.slick-dots li.slick-active button {
    background: #B6C34D;
}

.slick-dots li button {
    font-size: 0;
    border: none;
    background: #F5F5F5;
    width: .875rem;
    height: .875rem;
    border-radius: 3.125rem;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    outline: none;
}

.slick-dots li {
    width: auto;
    list-style: none;
    padding: 0 .25rem;
    display: inline-block;
}

.slick-dots {
    display: block;
    text-align: center;
    margin-top: 30px;
}

/* ----------------- CTA Sec -------------- */

.cta-main {
    background-image: url(../img/cta-con-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px 0 50px 50px;
    padding: 63px 97px 63px 55px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1113px;
    margin: 0 auto;
    position: relative;
}

.cta-main::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #B6C34D;
    border-radius: 50px 0 50px 50px;
    position: absolute;
    right: -20px;
    bottom: -20px;
    z-index: -1;
}

.cta-con {
    width: calc(60% - 25px);
}

.cta-con .sec-head {
    margin-bottom: 5px;
}

.cta-con .sec-title {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}

.cta-con .sec-title span {
    display: block;
    font-weight: 700;
}

.cta-con .cms-con p {
    color: #fff;
    padding-right: 30px;
    margin: 0;
}

.cta-btn {
    margin-top: 40px;
}

.cta-btn .btn-outline-green {
    border-color: #2D4312;
    color: #2D4312;
}

.cta-btn .btn.btn-outline-green:hover{
    background-color: #fff;
    border-color: #fff;
    color: #B6C34D;
}

.cta-btn .btn.btn-outline-green::before{
    background-color: #fff;
}

.cta-img {
    width: calc(40% - 25px);
    border-radius: 50px 0 50px 50px;
    overflow: hidden;
    margin-top: -123px;
}

.cta-img img {
    width: 100%;
}

.blog-img{
    width: 100%;
    height: 293px;
    overflow: hidden;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
}

.latest-blog-box:hover .blog-img img{
    transform: scale(1.05);
}